@import url('https://fonts.googleapis.com/css2?family=Gajraj One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Gajraj+One&family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


/* Wild West Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Smokum&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');






*{
text-shadow:magenta 3px 0 10px;

}

.gregged {
    background-image: url("greg2.jpg");
}

#intro{

color:yellow;
text-align: center;
font-size: 175px;
box-shadow:lightgreen 10pt 10pt 10pt 10pt;
text-shadow: #000000 10px 0 5px;
font-family: 'Julee', cursive;
background-image: url("lava.jpg");
font-family: 'Comic Neue', cursive;


}

body{
    background-color:#000000;

}

#sub{
    color:lime;
    text-align: center;
    font-size: 35px;
}

#cowboy{
    font-family: 'Smokum', cursive;
    color:lime;
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
}

#prize_header{
    text-align: center;
    color: lime;
    border-color:red ;
    border-style: dotted;
    border-width: 10pt;
    font-size: 30pt;
}
.prizes{

    color: lime;
    text-align: center;

}

.center-flex {
    display: flex;
    justify-content: center;
}

#pic{

    width: 600px;
    height:600px;
}

#saus{
    width: 600px;
    height:600px;

}

#pic:hover {
    filter: saturate(5000);
}

/*Jereimah Size Font */

.des{
    text-align: center;
    color: gold;
    font-style: italic;
    font-size: 5pt;

}

#website{
    
    display: block;
    width: 100px;
    height: 100px;
    padding: 10px 10px 10px 10px;
}

#cash{
    text-align: center;
    color: lime;
    font-size:50pt;
    border-color: red;
    border-style: dotted;
    border-width: 10pt;


}

#chart{
    justify-content: center;
    border: gold;
    border-style: solid;
    border-width: 2px;
}


#token_value{
    text-align: center;
    color: lightskyblue;

}

#s_header, #story{
    text-align: center;
    font-family: "julee";
}

#s_header{
color:lime ;
font-size: 100px;
border-color:turquoise ;
border-style: dotted;
border-width: 10pt;
background-image: url("water.jpg");
filter: blur(2px);
}

#story{
    text-align: center;
    color: lightskyblue;
    font-size: 25px;
}

#age, #news{
    text-align: center;
    color: lime;
    font-size: 75pt;
    
   
}

#age{
    border-color: slateblue;
    border-style: groove;
    background-image: url("galaxy.jpg");
}

#email{
    display: block;
    margin: auto;
    font-size: 15pt;
    width: 50%;
    border:groove 10px yellow;
    text-align: center;
}

#age, #cash, #prize_header{
    font-family: "Gajraj One";
}
#sub, #story, #intro{
    font-family: 'comic sans', cursive;
}

#sub, #story{
    font-family: 'Roboto Mono', monospace;

}

#chaos{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color:lime;
    background-color: #d213e4;
    border-style: solid;
    border-radius: 5pt;
    border-color: red;
}

#ready{
    text-align: center;
    color: lime;
    font-size:50pt;
    border-color: red;
    border-style: dotted;
    border-width: 10pt;
    font-family: 'Mynerve', cursive;

}

.warp{
    text-align: center;
    color: goldenrod;
    font-size:50pt;
    border-color: gold;
    border-style:ridge;
    border-width: 10px;
    font-family: 'Rubik Iso', cursive;
    display: flex;
    margin: auto;
    justify-content: center;

}

#red_reboot{
    color:#000000;
    text-align: center;
    font-size: 50pt;
    border-color: maroon;
    border-style: ridge;
    border-width: 10px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url(beep.jfif);

}
#intro{
    font-family: 'Acme', sans-serif;

}
/* BUY.html tags */


#jp{
    width: 1000px;
    height: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
}

#neoWallet, #global-value{
    color: lime;
    text-shadow: aqua 10px 10px 10px 10px;
    text-align: center;
    font-size: 100pt;
    font-family: 'Orbitron', sans-serif;
}

#confirmTotal{
    color: lime;
    text-align: center;
    font-size: 75pt;
    font-family: 'Orbitron', sans-serif;


}

#payment{
    display: block;
    margin: auto;
    font-size: 15pt;
    width: 50%;
    border:groove 10px yellow;
    text-align: center;
    width: 65%;

}

#packages{
    text-align: center;
    color: lime;
    font-size:80pt;
    border-color: red;
    border-style: dotted;
    border-width: 10pt;


}

.sales_pitch{
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;
    color: lime;
    font-size: 35pt;
    

}

#merch{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color:lime;
    background-color: #d213e4;
    border-style: solid;
    border-radius: 5pt;
    border-color: red;

}

#terms{
    text-align: center;
    border-color: red;
    border-style: double;
    border-width: 2px;
    color: lime;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#more{
    border-color: gold;
    border-style: dashed;
    color: goldenrod;
}

#mini_note{
    color:lime;
    text-align: center;
    font-size: 4pt;
}

/* help.html tags */

.faq_header{
    text-align: center;
    font-size: 75px;
    color: lime;
}

.faq{
    text-align: center;
    color: lime;
    font-size: 45pt;
    font-family: "julee";

}

.answers{
    font-size: 25pt;
    text-align: center;
    font-family: 'Iceland', cursive;
    color: #280fe4;
    font-style: italic;
    font-weight: bold;

}

#golden{
    border: rgba(112, 7, 150, 0.687);
    border-style: solid;
    border-width: 7px;
}

#contact_header{
    text-align: center;
    color: lime;
    font-size: 55pt;
    font-family: "Gajraj One";


}

.contact_info{
    color: lime;
    font-size: 35pt;
    text-align: center;
    font-family: 'Mynerve', cursive;


}