@import url('https://fonts.googleapis.com/css2?family=Gajraj One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Gajraj+One&family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

/* NEW FONTS */

@import url('https://fonts.googleapis.com/css2?family=Geostar&display=swap');

/* SCARY FONT , KIDDO!!! */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* CYBER FONT */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');









*{
    text-shadow:magenta 3px 0 10px;
}

#future{
    color:lime;
    text-align: center;
    font-size: 60pt;
    font-family: "julee";
    border-color: rgb(0, 255, 187);
    border-style: dotted;
    border-width: 10pt;

}

.use{
    text-align: center;
    color: rgb(255, 0, 8);
    font-family: 'Geostar', cursive;
    font-size: 55pt;
    border-bottom-style: dashed;
    border-color: mediumvioletred;
    border-bottom-width: 9px;

}

.info_dump{
    text-align: center;
    color:lime;
    font-size: 25pt;
    font-family: 'Chewy', cursive;


}

.amex{
    color:aqua;
    font-family: 'Creepster', cursive;
    text-shadow:white 3px 0 10px;


}

.cyber{
    color:rgb(255, 0, 157);
    text-shadow:rgb(158, 10, 244) 6px 0 10px;
    font-family: 'Press Start 2P', cursive;

}

#robinhood{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 400px;
    width: 800px;   
}

#origin_warp{
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px 10px 10px 10px;

}

/* ORIGINS CSS */

#origin_video_header{
    text-align: center;
    color: rgb(80, 12, 12);
    font-size: 55pt;
    font-family: 'Creepster', cursive;

}

#playback{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 500px;
    width: 500px;
}

#og_warp{
    display: block;
    width: 10px;
    height: 10px;
    padding: 10px 10px 10px 10px;
   
}

/* Hangout Tags */

#chillout{
    text-align: center;
    color: rgb(255, 0, 157);
    font-size: 55pt;
    font-family: "julee";
    border-style: dashed;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    border-bottom-color: aqua;
}

#anti_malware{
    color: lime;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 45pt;
}

#scan_here{
    color: lime;
    text-align: center;
    font-size: 25pt;
    font-family: "Gajraj One";


}

#sunny{
    color: yellow;
    font-family: 'Creepster', cursive;
}

#ex_greg{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 450px;
    width:400px;
    padding: 10px 10px 10px 10px;

}

#greg_yt{
    color: rgb(5, 11, 95);
    text-align: center;
    font-size: 55pt;
    font-family: 'Changa', sans-serif;
    border-style: dotted;
    border-color: red;
    
}

#svb_div{
    text-align: center;
    border-style: solid;
    border-color: mediumvioletred;
    border-width: 4px;
    color: lime;
}

#svb_header{
    text-align: center;
    color:lime;
    font-size: 55pt;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

#getting_svb{
    font-size: 25pt;
    font-family: 'Playfair Display', serif;

}

#svb_color{
    color: #ffffff;
    font-family: 'Roboto Slab', serif;

}

#svb_arr{
    color: cyan;
}

#limited_offer , #offer_des{
    color:lime;
    text-align: center;
    
}

#limited_offer{
    font-family: 'Mynerve', cursive;
    font-size: 55pt;
    color: goldenrod;

}

#offer_des{
    font-family: "julee";
    font-size: 35pt;
}

#svb_pic{
    margin: auto;
    display: flex;
    justify-self: center;
    height: 500px;
    width: 900px;
}

/* Jobs.html Tags */

#withYou{
    color: lime;
    font-size: 55pt;
    text-align: center;
    font-family: 'Chewy', cursive;
}

#innerYou{
    font-family: "Gajraj One";

}

#joinOurTeam{
    text-align: center;
    font-size: 25pt;
    color: lime;
    font-family: 'Tillana', cursive;

}

#yugiohPic{
    margin: auto;
    display: flex;
    justify-self: center;
    height:450px;
    width:900px;
    border-style: groove;
    border-color: rgb(34, 93, 220);
    border-width: 5px;
}

#gameTime{
    color:lime;
    text-align: center;
    font-size: 30pt;
    font-family: 'Roboto Slab', serif;
    border-style: dashed;
    border-color: greenyellow;
    border-radius: 2px;
}

#foodPic{
    margin:auto;
    display: flex;
    justify-self: center;
    height:500px;
    width:700px;
}

#getFood{
    color:lime;
    text-align: center;
    font-size: 30pt;
    font-family: 'Roboto Slab', serif;
    border-style: dashed;
    border-color: greenyellow;
    border-radius: 2px;
}
